[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# SA1600: Elements must be documented
dotnet_diagnostic.SA1600.severity = none
